body {
    background-image: url(../../assets/images/Game-of-Thrones.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    padding-top: 100px;
}

#correct {
    color: green;
}

#incorrect {
    color: red;
}

main {
    /* margin-top: 60px; */
    border-radius: 25px;
}

hr {
    border: solid 1px rgb(158, 158, 158);
}

.center {
    text-align: center;
}


.option {
    margin: .5rem;
    padding: .5rem;
    background-color: rgb(139, 139, 236);
    border: 3px solid blue;
    text-align: center;
}

.option:hover {
    border: 3px solid white;
    background-color: rgb(61, 131, 131);
}

@media screen and (min-width:768px) {
    #currentQuestion{
        font-size: 2rem;
    }
    
    #questionDiv {
        padding: 2rem;
    }
    
    .option {
        margin: 1rem;
        padding: 2.5rem;
        background-color: rgb(139, 139, 236);
        font-size: 2rem;
    }
    
    p {
        font-size: 2rem;
    }
}