body {
    background-image: url(../../assets/images/Game-of-Thrones.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    padding-top: 100px;
}

#correct {
    color: green;
}

#incorrect {
    color: red;
}

.container {
    margin-top: 200px;
    border-radius: 25px;
}

hr {
    color: white;
}